body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #55aa6b;
  }
  
  p {
    font-family: 'Poppins', sans-serif !important;
  }

  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .intro h2 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }

  .intro h1 {
    font-size: 5rem;
    letter-spacing: 0.1rem; /* default letter spacing */
    animation: slide-in 1s forwards;
  }
  

  /* particle effect styling */
  #particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0e101c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
  }
  
  /* keyframe animation for the slide-in effect of the name */
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
  .buttons {
    margin-left: 10px;
  }
  
  .buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 0px solid #fff;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .buttons a:hover {
    background-color: #0e101c;
    color: #55aa6b;
  }

  /* Style all font awesome icons */
.fa {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 0px solid #fff;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  /* Add a hover effect if you want */
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
   
  }

  .fa-github:hover {
    background-color: #fff;
    color: #0e101c;
  }

  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }
  .fa-brands{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 0px solid #fff;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .fa-python{
    color: #07cf11;
  }
  .fa-python:hover {
    color: #fff;
  }
  
  .fa-cuttlefish{
    color: #007bb5
  }

  .fa-cuttlefish:hover {
    color: #fff;;
  }

  .fa-java{
    color: #ff0000;
  }

  .fa-java:hover {
    color: #fff;;
  }

  .fa-js{
    color: #b43f08;
  }

  .fa-js:hover {
    color: #fff;;
  }



  .fa-html5{
    color:#ca8300
  }

  .fa-html5:hover {
    color: #fff;
  }

  .fa-css3-alt{
    color:#007bb5
  }
  
.fa-css3-alt:hover{
    color:#fff
  }

.fa-database{
  color:#5ecafc
}

.fa-database:hover{
  color:#fff
}

.fa-android{
  color: #07cf11;
}
.fa-android:hover {
  color: #fff;
}


  .container {
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    height: 100vh; /* set the container height to full viewport height */
    opacity: 0;
    animation: fade-in 1.5s ease-in forwards;
  }
  
  .column {
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: #0e101c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .fa-solid{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 0 px solid #fff;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .fa-c{
    color:#007bb5
  }

  .fa-c:hover{
    color:#fff
  }

  .fa-square-envelope:hover{
    background-color: #fff;
    color: #0e101c;
  }

  .bold {
    font-weight: bold;
    font-size: 20px;
    color: #00e7ff;
  }

  .bold:hover{
    color: #55aa6b;
  }

  .t{
    font-weight: bold; 
    opacity: 0;
    animation: fade-in 1.5s ease-in forwards;
  }

  .t:hover{
    color: #00e7ff;
  }

  .s{
    color: #00e7ff;
    font-weight: bold; 
    opacity: 0;
    animation: fade-in 1.5s ease-in forwards;
  }

  .s:hover{
    color: #55aa6b;
  }

  .image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 20px auto;
    display: block;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}


@media (max-width: 768px) {
  .intro h1 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .container {
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center content vertically */
  }

  .buttons {
    text-align: center; /* Center buttons on smaller screens */
    margin-top: 20px; /* Add some spacing between buttons */
  }

  /* Adjust other styles as needed for tablet screens */
}

/* Default styles */

/* Tablet and smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 80%; /* Adjust the width as needed for smaller screens */
  }

  .intro h1 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .buttons a {
    font-size: 1rem; /* Adjust font size for navigation links */
    padding: 5px 10px; /* Adjust padding for navigation links */
  }

  .resume embed {
    height: 400px; /* Adjust the height of the embedded PDF */
  }
}

/* Mobile screens */
@media (max-width: 375px) { /* iPhone 12 screen width */
  .column {
    width: 100%; /* Make the column width full for small screens */
  }

  .intro h1 {
    font-size: 2.5rem; /* Further reduce font size for smaller screens */
  }

  .buttons a {
    font-size: 0.9rem; /* Further reduce font size for navigation links */
    padding: 4px 8px; /* Further reduce padding for navigation links */
  }

  .resume embed {
    height: 300px; /* Further adjust the height of the embedded PDF */
  }
}


